# ignore EDF files and other big data files
*.edf
*.edf.st
*.raw.fif

# ignore all sound files
*.wav
*.aif
*.aiff

# ignore the virtual environment files
eoiaw/*

# ignore PDF's
*.pdf

# ignore REPAER files
*.RPP
*.RPP-bak
